/* Home.css */
.home {
  display: flex;            
  align-items: center;      
  justify-content: center;  
  height: 100vh;            
  text-align: center;       
  background-color: #f8f3f1; 
  color: #555; 
}

.home-content {
  display: flex;
  flex-direction: column; 
  align-items: center;    
}

.profile-pic {
  width: 250px; 
  height: 250px; 
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  animation: bounce 1s ease-out;
  transition: transform 0.3s;
}

.home-text h1 {
  font-size: 2.5em;
  letter-spacing: 1px;
  color: #333; /* A darker color for contrast */
  margin-bottom: -18px;
  margin-top: -35px;
}

.home-text h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: #666; /* Use a lighter color for subheadings */
  /* margin-bottom: 20px; */
  margin-bottom: -18px; 
}

.home p {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: left; /* Center-align the text for a cleaner look */
  max-width: 700px; /* Limit the width to avoid very long lines */
  margin: 0 auto; /* Center the text block */
}

.home-text ul {
  padding-top: 5px;
  padding-left: 100px;
  text-align: left; /* Center-align the text and bullets */
  font-size: 1rem;
  line-height: 1em;
  max-width: 800px; 
}

.home-text ul ul {
  padding-top: 5px;
  padding-left: 30px;
  text-align: left; /* Center-align the text and bullets */
  font-size: 1rem;
  line-height: 1em;
  max-width: 700px;
}

.home-text i {
  color:#4A4E69;
  font-weight: 500;
}

.home-text ul li {
  color: #666;
  padding-left: 170px;
  margin-bottom: 5px; /* Space between items */
  padding-left: 0px; /* Adjust space for custom bullet */
  text-align: left; /* Center-align the list items */
  font-size: 1.2rem;
  line-height: 1em;
}

.home-text {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}