/* Navbar Container */
.navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #f8f3f1;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  /* Inner centered container to align with .home max-width */
  .navbar-inner {
    width: 100%;
    max-width: 1000px; /* match .home max-width */
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* border-bottom: 2px solid #333; */
  }

  .navbar-page:hover {
    text-decoration: underline;
    color: #E3879E;
  }

  .navbar-pages {
    display: flex;
    gap: 15px;
    list-style: none;
    padding-left: 0; /* remove extra left offset so content aligns with shadow */
  }

  /* /* Home page link
  .navbar-logo {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  } */

  /* Other pages */
  .navbar-page {
    font-size: 1.4rem;
    color: #333;
    text-decoration: none;
    /* font-weight: bold; */
    margin: 0;
    padding: 0;
  }

  /* Links to Social Medias */
  .navbar-links{
    display: flex; 
    margin-left: auto;;
    gap: 8px;
  }
  
  .navbar-links img {
    width: 30px; 
    height: auto; 
    transition: transform 0.3s ease; 
  }
  
  .navbar-links img:hover {
    transform: scale(1.1);
  }

  /* Mobile */
  @media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-inner {
    padding: 0 8px;
  }

  .navbar-pages {
    gap: 10px;
    padding-left: 8px;
  }

  .navbar-page {
    font-size: 1rem; /* smaller font */
  }

  .navbar-links img {
    width: 20px; /* smaller icons */
  }
}
  