.projects {
  display: flex;            
  align-items: center;      
  justify-content: center;  
  height: 100vh;            
  text-align: left;       
  background-color: #f8f3f1; 
  color: #555; 
  padding: 20px;
  max-width: 1050px;
  margin: 0 auto;
}

.projects-text {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
}

.projects-text h1 {
  font-size: 2.5em;
  /* letter-spacing: 1px; */
  color: #333; 
  /* margin-left: 30px; */
  margin-top: 30px;
  margin-bottom: 10px;
}

.projects-text p {
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left; 
  max-width: 1050px; 
  margin-left: 40px; 
  margin-top: -20px;
  color: #666;
  max-width: 900px;
}

.projects-text h2 {
  /* margin-left: 40px; */
  font-size: 1.3em;
  font-weight: 600;
  color: #333; 
/*   margin-top: -15px; */
}

.projects-text h3 {
  /* margin-left: 40px; */
  font-size: 1.1em;
  font-weight: 500;
  color: #333; 
  margin-top: -25px;
}

.projects-text h3 a {
  color: #333;
  text-decoration: underline;
}

.projects-text a:hover {
    color: #E3879E;
    text-decoration: underline;
}


/* Mobile */
@media (max-width: 768px) {
  .projects {
    height: auto; /* allow content to define height */
    padding: 20px 10px;
    flex-direction: column; /* stack content vertically */
  }

  .projects-text h1 {
    font-size:  1.5em;
    margin-left: 10px;
    margin-top: 20px;
  }

  .projects-text p {
    font-size: 1rem;
    max-width: 100%;
    margin-left: 20px;
    margin-top: -5px;
  }

  .projects-text h2 {
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 10px;
  }

  .projects-text h3 {
    font-size: 1.1rem;
    margin-left: 10px;
    /* margin-top: 10px; */
  }
}