body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f7ede2;
    color: #333;
  }
  
  .App {
    text-align: center;
  }

.App a {
  color: #666;
  text-decoration: underline;
}

.App a:hover {
    color: #E3879E;
    text-decoration: underline;
}
  